__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
/build
/docs/build
/dist
/logs/*
/outputs/*
/models/
*.so
.venv
.docs-venv
/uv.lock
/datasets/
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/
*.sif
